body {
  background-color: #8ca2ba;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("assets/img/ntt.png");
  background-size: 400px 200px;
  background-repeat: no-repeat;
  background-position: center;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

form {
  width: 500px;
  border-radius: 2px solid #ccc;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 15px;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

input {
  display: block;
  border: 2px solid #ccc;
  width: 95%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
}

label {
  color: #000;
  font-size: 18px;
  padding: 10px;
}

button {
  display: block;
  width: 30%;
  background: #555;
  padding: 10px;
  color: #fff;
  border-radius: 3px;
  margin: 10px auto;
  border: none;
}

button:hover {
  opacity: 0.7;
}

.error {
  background: #f2dede;
  color: #a94442;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
}
